* {
  padding: 10;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

html, body {
  height: 100%;
  min-width: 500px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center; 
}
p,h1{
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
  color: aliceblue;
}
h1 { 
  font-size: 65px;
  text-transform: uppercase;
}
p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 10%;
  padding: 0;
}

.line{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.logo-2 {color: rgb(230, 230, 255);}

.fab,.far{
  display: flexbox;
  justify-items: stretch;
  justify-content:space-evenly;
  font-size: 2em;
  color: white;
  opacity: 60%;
}

.links{
  display: flex;
  flex-direction: line;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  
}
.dropdown-content a{
  font-size: 30px;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}





