* {
  padding: 15;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center; 
}

h1 { 
  font-size: 65px;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
}

.logo-1 {color: white;}

.logo-2 {color: rgb(230, 230, 255);}

.fab{
  font-size: 2em;
  color: white;
}







